@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #7bfaf3;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    margin: 0;
}

.notes {
    background-color: #fff;
    width: 500px;
    height: 400px;  

}
